<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FirstRun" value="True" />
    <add key="StartWithWindows" value="False" />
    <add key="StartMinimized" value="False" />
    <add key="DaytimeStart" value="6/20/2019 7:00:00 AM" />
    <add key="NightToDayTransitionTime" value="60" />
    <add key="DayBrightness" value="90" />
    <add key="NighttimeStart" value="6/20/2019 8:00:00 PM" />
    <add key="DayToNightTransitionTime" value="60" />
    <add key="NightBrightness" value="50" />
    <add key="LocationEnabled" value="False" />
    <add key="LocationLongitude" value="" />
    <add key="LocationLatitude" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>